body {margin: 0;}
header {
  display: flex;
  background: #4d97ff;
}
header li {
  list-style: none;
}
header li a {
  color: #fff;
}
main {
  text-align: center;
}
footer {
  text-align: center;
  background: #505050;
}
footer p {
  color: #fff;
}
footer small p {
  color: #fff;
}
